.button{

    color: white;
    background-color: black;
    margin: 3px;
    padding: 7px;
    border-radius: 50%;
}

.socials {
    display: flex;
    justify-content: center;
  }



  @media screen and (max-width: 500px) {
  .share_button{
    padding: 3px;
    margin: 3px;

  }

}