.comment_form .hidden{
    display: none;
}

.comment_form .avatar{

    width: 30px;
    
}

.comment_text{

    color: black;
}

.comment_form .comment_group{

    display: flex;
    margin-top: 20px;
}


.comment_form .comment_group_button{
    padding: 7px;
    height: 100%;
}

@media screen and (max-width: 500px) {

    input{
        width: 50%;
    }

    .comment_form .comment_group_button{
        padding: 3px;
        height: 50%;
        width: min-content;
    }
}

