@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@600&family=Playfair:ital,wght@0,300;1,300&display=swap');

body {
  margin: 0;
  font-family: Playfair;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root {
  --pink: #F9B7A4;
  --blue: #3D717C;
}
