li{
    margin: 5px;
    text-decoration: none;
}

.navbar-nav li{
    padding: 3px;

}

.navbar-nav li:hover {
    background-color: #8bc34a;
    transition-delay: 0.1s;
    color: white;
  }
  
.link{
    text-decoration: none;
    color: black;
}

.navbar-nav li .link:hover {
    color: white;


}

.sign_in{
    width: max-content;
    margin: 5px;

}

.app_name{

    margin-right: 5px;
}