/* Instructions:
For all styles in nav.js they must have the class "navbar" before it,
then the class.
*/

:root {
    --pink: #F9B7A4;
    --blue: #3D717C;
  }

  nav .logo{
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;

  }


  nav.navbar{
    color: white !important;

    background-color: #3D717C !important;
  }
.navbar li{
    margin: 5px;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px;

}

.navbar .navbar-nav li{
    padding: 5px;

}

.navbar .navbar-nav li:hover {
    background: linear-gradient(to bottom right, #F9B7A4, #3D717C);
    transition-delay: 0.3s;
    color: white;
    padding: 5px;
   
  }

  .navbar-toggler{
    background-color: white;
  }
  
.navbar .link{
    text-decoration: none;
    color: white;
    padding: 5px;

}

.navbar .navbar-nav li .link:hover {
    color: white;


}

.navbar .sign_in{
    width: max-content;
    margin: 10px;

}

.navbar .app_name{

    margin-right: 5px;
}