footer {
    background-color: #3d717c !important;
    color: white !important;
   position: relative;

    width: 100%;
    margin-top: 10px;
 
  }

  footer p{
    color: white;
  }
 
  .footer-heading{
    color: white;
  }

  .twitter-icon {
    color: #f9b7a4 !important;
    margin-right: 10px;
  }
  
  .twitter-icon:hover {
    color: white;
  }
  
  .text-muted {
    color: white !important;
  }

  .img-fluid{

    width: 150px;
  }